.footer{
   background: linear-gradient(rgba(207, 37, 37, 0.9), rgba(241, 64, 117, 0.957));
   padding-top: 20px;
  
}

.footer__logo i{
    color: #fff;
    font-weight: 400;
}

.footer__logo span{
    color: #fff;
    font-weight: 500;
}

.footer__logo-content{
    color: rgba(255, 255, 255, 0.715);
    margin-top: 15px;
    line-height: 30px;
}

.quick__link{
    border: none !important;
    background: transparent !important;
}
.quick__link a{
    color: rgba(255, 255, 255, 0.715);
    text-decoration: none;
    font-weight: 300;
    transition: 0.3s;
}

.quick__link a:hover{
    color: #00008b;
}

.footer__link-title{
    color: #fff;
}

.office__info{
    color: rgba(255, 255, 255, 0.715);
    font-weight: 300;
}

.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border: 1px solid #7c8a972f;
    border-radius: 50px;
    background: #ed0404;
}

.newsletter input{
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
}
.newsletter span i{
    color: #fff;
}

.footer__bottom{
    border-top: 1px solid #7c8a972f;
}

@media only screen and (max-width: 576) {
    .footer__logo-content{
        font-size: 0.8rem;
    }

    .quick__link{
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .footer__link-title{
       font-size: 1rem;
       margin-top: 15px;  
    }

    .footer__bottom p{
        font-size: 0.8rem;
    }
}

 