


.payment label{
    font-weight: 600;
    color: #ff0000;
}

.payment button{
    padding: 8px 15px;
    border-radius: 5px;
    background: #ff0000;
    color: #fff;
    border: none;
    outline: none;
}
.payment img{
    width: 100px;
    height: 50%;
}

